= semantic_form_for :import, url: import_purchases_path do |f|
  .container-fluid.no-padding
    .col-xs-3.form-group
      = f.label :file do
        Select a file to import
      = f.input :file, as: :file, label: false

    .col-xs-2.form-actions
      = f.submit 'Import', class: 'btn btn-primary'